---
import "../styles/global.css";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Tausif Alam | Full Stack Developer">
  <div
    class="about-me max-w-2xl md:w-145 my-5 mx-auto px-4 sm:px-6 md:px-0 text-white"
    slot="brief"
  >
    <div class="my-5">
      <h1 class="text-xl sm:text-2xl font-mono font-extrabold">
        Tausif Alam aka <i class="text-lime-400">@buildwithtausif</i>
      </h1>
      <p
        class="font-mono first-letter:text-5xl sm:first-letter:text-7xl first-letter:font-bold first-letter:text-lime-400 first-letter:capitalize first-letter:mr-3 first-letter:float-left first-letter:leading-none"
      >
        developing scalable systems for every business needs, I'm a <u>backend engineer</u> specializing in <u>Node.js</u> and related frameworks.
        currently pursuing my <u>bachelor's in computer application</u> from Guru
        Gobind Singh Indraprastha University, Delhi, India.
      </p>
    </div>
  </div>
</Layout>
<style>
  /* glance-span-tags */
  span {
    color: var(--color-blue-400);
  }
</style>
