---
---
<span id="footer" class="flex flex-col justify-center items-center text-zinc-500 text-sm mt-10">
    <span class="flex flex-col items-center">
        <span>Made for love of the internet</span>
    </span>
    <span class="text-zinc-500 text-sm">Open content · <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="underline" target="_blank" referrerpolicy="no-referrer">CC BY-NC-SA 4.0</a></span>
</span>