---
---
<span class="flex flex-col justify-center items-center text-zinc-500 text-sm mt-10">
    <span class="flex flex-col items-center">
        <span>Made for love of the internet</span>
    </span>
    <span class="text-lime-400">Made by mutual effort of AI and me</span>
    <div class="border border-dashed rounded border-zinc-500 p-2 mt-1 text-center">
        <span class="text-zinc-500 text-sm">All writings are <em class="italic text-zinc-300">my own</em> and made available under CC BY-NC-SA 4.0 license.</span>
    </div>
</span>