---
import '../styles/global.css'
---
<div class="nav z-50 sticky top-2.5 grid grid-cols-none md:grid-flow-col md:grid-cols-1">
    <ul class="flex flex-wrap gap-1.5 m-2.5 rounded-xs">
        <li class="font-black">bsh</li>
        <li><a href={Astro.site} data-nav-key="h">[H] home</a></li>
        <li><a href={Astro.site + "./blog"} data-nav-key="b">[B] Blog</a></li>
        <li><a href="#" data-nav-key="p">[P] Projects</a></li>
        <li><a href="#" data-nav-key="r">[R] Resume</a></li>
    </ul>
</div>
<style>
    .nav ul li{
        text-decoration: none;
        font-family: var(--font-mono);
        text-transform: capitalize;
        padding: 2.5px 5px;
        background-color: --alpha(var(--color-stone-600) / 65%);
        backdrop-filter: blur(2.5px);
        color: var(--color-zinc-200);
        border-radius: var(--radius-xs);
        font-size: var(--text-sm);
        cursor: pointer;
    }
    .nav ul li:nth-child(1):not(.nav ul li:nth-child(3)) {
        background-color: var(--color-lime-400);
        color: var(--color-slate-900);
        text-transform: lowercase;
    }
    .nav ul li:not(:nth-child(1)):hover, .nav ul li:nth-child(3):hover  {
        background-color: --alpha(var(--color-lime-400) / 65%);
        color:  var(--color-white);
    }
    .nav ul li:last-child {
        background-color: var(--color-lime-400);
        color: var(--color-slate-900);
        /* add glowing animation to it */
        animation: glow 2s ease-in-out infinite;
    }
    @keyframes glow {
        0% {
            box-shadow: 0 0 5px var(--color-lime-400);
        }
        50% {
            box-shadow: 0 0 10px var(--color-lime-400);
        }
        100% {
            box-shadow: 0 0 5px var(--color-lime-400);
        }
    }
</style>
<script>
    document.addEventListener("keydown", (e) => {
        // Ignore key presses if the user is typing in an input field or content editable
        if (["INPUT", "TEXTAREA", "SELECT"].includes((e.target as HTMLElement).tagName) || (e.target as HTMLElement).isContentEditable) return;

        const key = e.key.toLowerCase();
        const allowedKeys = ["h", "b", "p", "r"];

        if (allowedKeys.includes(key)) {
            // Find the anchor tag with the matching data-nav-key attribute
            const link = document.querySelector(`a[data-nav-key="${key}"]`) as HTMLAnchorElement;
            if (link) {
                link.click();
            }
        }
    });
</script>